h1,
h2 {
    font-family: 'Nunito', sans-serif;
}

h3,
h4,
h5,
h6,
button,
p {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 19px;
}

button {
    font-size: 19px;
}

html {
    overflow: auto;
}


header {
    background-color: #8FA8EE;
    height: 100px;
    display: flex;
    align-items: center;
}

header>div>p {
    color: aliceblue;
    margin-left: 30px;
    font-size: 25px;
}



main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h3 {
    color: #6E70A5;
}

.buttons-div {
    margin-top: 60px;
    display: flex;
    gap: 50px;
}

button {
    height: 30px;
    width: 100px;
    border-radius: 30px;
    background-color: #B49AF2;
    color: white;
    border: none;

}