h1,
h2 {
    font-family: 'Nunito', sans-serif;
}

h3,
h4,
h5,
h6,
button,
p {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 19px;
}

button {
    font-size: 19px;
}

header{
    background-color: blue;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > div > h1{
    color: aliceblue;
}

header > div > h1:hover{
    color: aqua;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 70px;
}

.img-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.support-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    font-size: x-large;
    border-color: black;
    background-color: aliceblue;
    color: blue;
}