<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="permission.css" href='https://fonts.googleapis.com/css?family=Nunito'>
    <script src="permission.js" defer></script>
    <title>Permission Page</title>
</head>
<body>
    <header>
        <div>
            <p> Help.Tech</p>
        </div>
    </header>

    <main>

    
    <div>
        <h3> Allow location information to be used to find matches?</h3>
        <h3> This will only last for the search session. Learn more here.</h3>
    </div>
    
    <div>
        <img src="images/Finance, e-commerce, startup, workflow _ account, information, user, profile, data.png"/>
    </div>

    <div class="buttons-div">
        <button class="yes-button"> YES</button>
        <button class="no-button"> NO</button>
    </div>

</main>
</body>
</html>