<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/people.css" href='https://fonts.googleapis.com/css?family=Nunito'>
    <script src="" defer></script>
    <title>People Page</title>
</head>
<body>
    <header>
        <div>
            <p> Help.Tech</p>
        </div>
    </header>

    <main>

        <div class="person">
            <img src="/images/man.png"/>
            <div class="person-info">
                <p>Liam</p>
                <p>32</p>
                <p>Erindale</p>
                <p>Tech expertise</p>
            </div>
            <div class="buttons-div">
                <button class="contact-info"> Zoom</button>
                <button> Learn more </button>
            </div>
        </div>
    


    

</main>
</body>
</html>